<head>

    <meta name="keywords" content="Living Styleguide van Vervoerregio Amsterdam" />
    <meta name="description" content="Living Styleguide" />
    <meta name="author" content="Tom Poortman, Sascha Davidson"/>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Living Styleguide Vervoerregio Amsterdam</title>
    <link rel="icon" type="image/png" href="./logo-favicon/va-favicon.svg" />

    <link rel="stylesheet" href="/style.css"/>
    <script src="/script.js" defer></script>

</head>

<body>