<nav>
    <ul class="main-nav">
        <li>Home</li>
        <li>Huisstijl</li>
        <li>Contact</li>
    </ul>
    <ul>
        <li>Lettergrootte</li>
        <li>Kleurenmodus</li>

        <li>Zoeken</li>
    </ul>
</nav>